* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline:2px solid red;*/
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

/* nav{
    background-color: blue;
} */
.navBackground {
  background-color: rgba(71, 137, 212, 0.945);
  position: sticky;
  top: 0px;
}

header div nav ul li a {
  color: yellow;
}

/*
header nav ul {
    display: flexbox;
    flex-direction: row;
    align-items: center;

}

header nav ul li {
    display: inline-block;
    padding: 15px;
    margin: 0px 20px;
}

header nav ul li a {
    color: yellow;
}

.logo {
    border-radius: 15px;
    border: solid 1px rgb(218, 199, 36);
}
*/
/*=======FIN - ESTILOS NAVBAR =========*/
.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=======INICIO - ESTILOS PAGINA DE INICIO =========*/
/*Inicio de Estilos*/
h1 {
  color: #dd2229;
  font-weight: 400;
  text-decoration: line-through;
  text-align: center;
  font-size: 32px;
  font-family: "Monserrat", sans-serif;
}

.titulo-noticia {
  color: blue;
}

.parrafo-noticia {
  color: cadetblue;
}

p {
  color: rgb(29, 28, 28);
}

.portada {
  height: 60vh;
  resize: both;
  overflow: auto;
  color: beige;
  text-align: center;
  margin: 5px 0px;
  background-color: blueviolet;
  background-image: url("../img/mundo_belleza.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.inicio-titulo {
  text-align: center;
  padding-top: 25px;
}

.contenedor1 {
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contenedor1 img {
  width: 95%;
  height: 100%;
}

p {
  margin: 10px 0px;
}

.contenedor2 {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contenedor2 img {
  width: 100%;
  height: 100%;
}

.caja {
  width: 650px;
  height: 350px;
  font-size: 1rem;
  text-align: justify;
  padding: 0px 65px 0px 0px;
}

.imgcaja2 {
  width: 500px;
  height: 300px;
}

.imgcaja3 {
  width: 500px;
  height: 300px;
}

/*=======FIN - ESTILOS PAGINA DE INICIO =========*/
/*=======INICIO - ESTILOS PAGINA DE CURSOS =========*/
.cursos-main {
  background-color: rgb(136, 194, 248);
  height: 60vh;
  resize: both;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 100%;
}

.cursos-caja {
  width: 400px;
  height: 350px;
  font-size: 1rem;
  text-align: justify;
}

.cursos-img1 {
  background-image: url("../img/cursos.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 50%;
  height: 90%;
}

.videoMasVistos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cajaVideo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.sizeVideo {
  width: 30%;
  border-radius: 15px;
  border: solid 1px rgb(218, 199, 36);
}

.videosMasVistos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin: 25px 0px;
}

.cursos-videosMasVistos {
  width: 40%;
  border-radius: 15px;
  border: solid 1px rgb(218, 199, 36);
}

.cursos-titulos {
  text-align: center;
}

/*=======FIN - ESTILOS PAGINA DE CURSOS =========*/
/*=======INICIO - ESTILOS PAGINA DE SERVICIOS =========*/
.servicios-cajaImgPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.servicios-ImgPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.servicios-img {
  width: 80%;
  height: 90%;
  border-radius: 15px;
  border: solid 1px rgb(218, 199, 36);
}

.servicios-txtTeEscuchamos {
  text-align: center;
  color: rgb(75, 75, 73);
  text-align: center;
  font-size: 19px;
  margin: 25px;
}

.servicios-tituloCorte {
  text-align: center;
  color: rgb(75, 75, 73);
  text-align: center;
  font-size: 19px;
  margin: 25px;
}

.servicios-cajaImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 0px;
}

.servicios-menuImg {
  height: 90;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 15px;
}

.serviciosImg {
  width: 100%;
  border-radius: 15px;
  border: solid 1px rgb(218, 199, 36);
}

/*=======FIN - ESTILOS PAGINA DE SERVICIOS =========*/
/*======= INICIO - ESTILOS PAGINA DE NOSOTROS =========*/
.nosotros-cajaVideo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nostros-video {
  width: 70%;
  border-radius: 15px;
  border: solid 1px rgb(218, 199, 36);
}

.nosotros-parrafos {
  display: flex;
  align-items: center;
  margin: 25px;
}

.nosotros-articulos {
  height: 50%;
  margin: 12px;
  padding: 10px;
}

.nostros-cajaImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nosotros-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 30px 0px;
  align-items: center;
}

.nosotros-img {
  width: 98%;
  height: 85%;
  border-radius: 15px;
  border: solid 1px rgb(218, 199, 36);
}

/*======= FIN - ESTILOS PAGINA DE NOSOTROS =========*/
/*======= INICIO - ESTILOS PAGINA DE CONTACTO =========*/
.portada-contacto {
  height: 60vh;
  resize: both;
  background-image: url("../img/contacto.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 1.5px;
}

.portada-redes {
  color: rgb(75, 75, 73);
  text-align: center;
  padding: 25px;
  font-size: 17px;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacto-logos-ws {
  width: 190px;
  height: 140px;
}

.contacto-logos-fa {
  width: 145px;
  height: 150px;
  padding: 15px;
  margin: 0px 20px;
}

.contacto-logos-ins {
  width: 190px;
  height: 180px;
  padding: 15px;
  margin: 0px 20px;
}

.contacto-envianosmsj {
  text-align: center;
  color: rgb(75, 75, 73);
  text-align: center;
  font-size: 19px;
  margin: 25px;
}

.contacto-frm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 100px;
  margin: 15px 0px;
}

.contacto-frmTxt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacto-frmBtn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.frmTxt {
  width: 280px;
  height: 30px;
}

.frmBtn {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 5px;
}

.frmBotones {
  width: 373px;
  height: 30px;
  background-color: teal;
}

.frmBtn2 {
  width: 373px;
  height: 30px;
}

/*======= FIN - ESTILOS PAGINA DE CONTACTO =========*/
/*=======ANIMACIONES=========*/
.div-manicure {
  width: 350px;
  height: 350px;
  font-size: 1rem;
  text-align: justify;
  transition: 2s all ease-in-out;
}

.img-over:hover {
  transform: scale(1.2);
  box-shadow: 0px 2px 10px 10px;
}

.slide-fwd-tr {
  /*-webkit-animation: slide-fwd-tr 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
  both;*/
  animation: slide-fwd-tr 0.2s cubic-bezier(0.05, 0.05, 0.05, 0.05) both;
}

@-webkit-keyframes slide-fwd-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
    transform: translateZ(16px) translateY(-100px) translateX(-100px);
  }
}
@keyframes slide-fwd-tr {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
    transform: translateZ(-30px) translateY(-5px) translateX(100px);
  }
}
/*=======ESTILOS AL FOOTER=========*/
/*Box Modeling*/
.cajaFooter {
  background-color: rgb(2, 48, 109);
  width: 100%;
  color: white;
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(to right, rgb(7, 66, 100), rgb(102, 177, 206));
}

/*# sourceMappingURL=style.css.map */
