.contenedor-tarjetas {
    @include flex-center();
}

/*=======INICIO - ESTILOS PAGINA DE INICIO =========*/
/*Inicio de Estilos*/
h1 {
    color: #dd2229;
    font-weight: 400;
    text-decoration: line-through;
    text-align: center;
    font-size: 32px;
    font-family: "Monserrat", sans-serif;
}

.titulo-noticia {
    color: blue;
}

.parrafo-noticia {
    color: cadetblue;
}

p {
    color: rgb(29, 28, 28);
}


.portada {
    height: 60vh;
    resize: both;
    overflow: auto;
    color: beige;
    text-align: center;
    margin: 5px 0px;
    background-color: blueviolet;
    background-image: url("../img/mundo_belleza.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.inicio-titulo {
    text-align: center;
    padding-top: 25px;
}

.contenedor1 {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenedor1 img {
    width: 95%;
    height: 100%;
}

p {
    margin: 10px 0px;
}

.contenedor2 {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenedor2 img {
    width: 100%;
    height: 100%;
}

.caja {
    width: 650px;
    height: 350px;
    font-size: 1.0rem;
    text-align: justify;
    padding: 0px 65px 0px 0px;
}

.imgcaja2 {
    width: 500px;
    height: 300px;
}

.imgcaja3 {
    width: 500px;
    height: 300px;
}

/*=======FIN - ESTILOS PAGINA DE INICIO =========*/