/*=======ANIMACIONES=========*/
.div-manicure {

    width: 350px;
    height: 350px;
    font-size: 1.0rem;
    text-align: justify;

    transition: 2s all ease-in-out;
}

.img-over:hover {
    transform: scale(1.2);
    box-shadow: 0px 2px 10px 10px;
}

.slide-fwd-tr {
    /*-webkit-animation: slide-fwd-tr 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;*/
    animation: slide-fwd-tr 0.20s cubic-bezier(0.05, 0.05, 0.05, 0.05) both;

}

@-webkit-keyframes slide-fwd-tr {
    0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
        transform: translateZ(0) translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
        transform: translateZ(16px) translateY(-100px) translateX(-100px);
    }
}

@keyframes slide-fwd-tr {
    0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
        transform: translateZ(0) translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateZ(160px) translateY(-100px) translateX(100px);
        transform: translateZ(-30px) translateY(-05px) translateX(100px);
    }
}