/*=======ESTILOS AL FOOTER=========*/
/*Box Modeling*/
.cajaFooter {
    background-color: rgb(2, 48, 109);
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(7, 66, 100), rgb(102, 177, 206));
}